<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">       
          
        <!-- 消费者名称 -->  
        <dubbo:application name="customer"/>  
        <!-- 用zookeeper注册服务中心发现服务地址 -->  
        <dubbo:registry protocol="zookeeoer" address="zookeeper://127.0.0.1:2181"/>  
        <!-- 调用远程的接口 -->  
        <dubbo:reference id="dubboProvider" interface="com.dubbo.service.DubboProvide"/>  
          
</beans>