<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dicp.oa.account.dao.mybatis.ContributionSetOAVOMapper" >
  <resultMap id="BaseResultMap" type="org.dicp.oa.account.model.entity.ContributionSetOAVO" >
    <result column="PK_CONTRIBUTIONSET" property="pkContributionset" jdbcType="VARCHAR" />
    <result column="PK_CONTRIBUTION" property="pkContribution" jdbcType="VARCHAR" />
    <result column="DRAWSN" property="drawsn" jdbcType="VARCHAR" />
    <result column="PLANID" property="planid" jdbcType="VARCHAR" />
    <result column="DRAWAMOUNT" property="drawamount" jdbcType="DECIMAL" />
    <result column="TRUSACCNO" property="trusaccno" jdbcType="VARCHAR" />
    <result column="TRUSACCNAME" property="trusaccname" jdbcType="VARCHAR" />
    <result column="TS" property="ts" jdbcType="TIMESTAMP" />
    <result column="WORKFLOWNO" property="workflowno" jdbcType="VARCHAR" />
    <result column="COLUMN1" property="column1" jdbcType="VARCHAR" />
    <result column="COLUMN2" property="column2" jdbcType="VARCHAR" />
    <result column="COLUMN3" property="column3" jdbcType="VARCHAR" />
    <result column="COLUMN4" property="column4" jdbcType="VARCHAR" />
    <result column="COLUMN5" property="column5" jdbcType="VARCHAR" />
    <result column="COLUMN6" property="column6" jdbcType="VARCHAR" />
    <result column="COLUMN7" property="column7" jdbcType="VARCHAR" />
    <result column="COLUMN8" property="column8" jdbcType="VARCHAR" />
    <result column="COLUMN9" property="column9" jdbcType="VARCHAR" />
    <result column="COLUMN10" property="column10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PK_CONTRIBUTIONSET, PK_CONTRIBUTION, DRAWSN, PLANID, DRAWAMOUNT, TRUSACCNO, TRUSACCNAME, 
    TS, WORKFLOWNO, COLUMN1, COLUMN2, COLUMN3, COLUMN4, COLUMN5, COLUMN6, COLUMN7, COLUMN8, 
    COLUMN9, COLUMN10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.dicp.oa.account.model.entity.ContributionSetOAVOCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CSIP_OA_CONTRIBUTIONSET
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.dicp.oa.account.model.entity.ContributionSetOAVOCriteria" >
    delete from CSIP_OA_CONTRIBUTIONSET
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.dicp.oa.account.model.entity.ContributionSetOAVO" >
    insert into CSIP_OA_CONTRIBUTIONSET (PK_CONTRIBUTIONSET, PK_CONTRIBUTION, 
      DRAWSN, PLANID, DRAWAMOUNT, 
      TRUSACCNO, TRUSACCNAME, TS, 
      WORKFLOWNO, COLUMN1, COLUMN2, 
      COLUMN3, COLUMN4, COLUMN5, 
      COLUMN6, COLUMN7, COLUMN8, 
      COLUMN9, COLUMN10)
    values (#{pkContributionset,jdbcType=VARCHAR}, #{pkContribution,jdbcType=VARCHAR}, 
      #{drawsn,jdbcType=VARCHAR}, #{planid,jdbcType=VARCHAR}, #{drawamount,jdbcType=DECIMAL}, 
      #{trusaccno,jdbcType=VARCHAR}, #{trusaccname,jdbcType=VARCHAR}, #{ts,jdbcType=TIMESTAMP}, 
      #{workflowno,jdbcType=VARCHAR}, #{column1,jdbcType=VARCHAR}, #{column2,jdbcType=VARCHAR}, 
      #{column3,jdbcType=VARCHAR}, #{column4,jdbcType=VARCHAR}, #{column5,jdbcType=VARCHAR}, 
      #{column6,jdbcType=VARCHAR}, #{column7,jdbcType=VARCHAR}, #{column8,jdbcType=VARCHAR}, 
      #{column9,jdbcType=VARCHAR}, #{column10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.dicp.oa.account.model.entity.ContributionSetOAVO" >
    insert into CSIP_OA_CONTRIBUTIONSET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkContributionset != null" >
        PK_CONTRIBUTIONSET,
      </if>
      <if test="pkContribution != null" >
        PK_CONTRIBUTION,
      </if>
      <if test="drawsn != null" >
        DRAWSN,
      </if>
      <if test="planid != null" >
        PLANID,
      </if>
      <if test="drawamount != null" >
        DRAWAMOUNT,
      </if>
      <if test="trusaccno != null" >
        TRUSACCNO,
      </if>
      <if test="trusaccname != null" >
        TRUSACCNAME,
      </if>
      <if test="ts != null" >
        TS,
      </if>
      <if test="workflowno != null" >
        WORKFLOWNO,
      </if>
      <if test="column1 != null" >
        COLUMN1,
      </if>
      <if test="column2 != null" >
        COLUMN2,
      </if>
      <if test="column3 != null" >
        COLUMN3,
      </if>
      <if test="column4 != null" >
        COLUMN4,
      </if>
      <if test="column5 != null" >
        COLUMN5,
      </if>
      <if test="column6 != null" >
        COLUMN6,
      </if>
      <if test="column7 != null" >
        COLUMN7,
      </if>
      <if test="column8 != null" >
        COLUMN8,
      </if>
      <if test="column9 != null" >
        COLUMN9,
      </if>
      <if test="column10 != null" >
        COLUMN10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkContributionset != null" >
        #{pkContributionset,jdbcType=VARCHAR},
      </if>
      <if test="pkContribution != null" >
        #{pkContribution,jdbcType=VARCHAR},
      </if>
      <if test="drawsn != null" >
        #{drawsn,jdbcType=VARCHAR},
      </if>
      <if test="planid != null" >
        #{planid,jdbcType=VARCHAR},
      </if>
      <if test="drawamount != null" >
        #{drawamount,jdbcType=DECIMAL},
      </if>
      <if test="trusaccno != null" >
        #{trusaccno,jdbcType=VARCHAR},
      </if>
      <if test="trusaccname != null" >
        #{trusaccname,jdbcType=VARCHAR},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="workflowno != null" >
        #{workflowno,jdbcType=VARCHAR},
      </if>
      <if test="column1 != null" >
        #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        #{column4,jdbcType=VARCHAR},
      </if>
      <if test="column5 != null" >
        #{column5,jdbcType=VARCHAR},
      </if>
      <if test="column6 != null" >
        #{column6,jdbcType=VARCHAR},
      </if>
      <if test="column7 != null" >
        #{column7,jdbcType=VARCHAR},
      </if>
      <if test="column8 != null" >
        #{column8,jdbcType=VARCHAR},
      </if>
      <if test="column9 != null" >
        #{column9,jdbcType=VARCHAR},
      </if>
      <if test="column10 != null" >
        #{column10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.dicp.oa.account.model.entity.ContributionSetOAVOCriteria" resultType="java.lang.Integer" >
    select count(*) from CSIP_OA_CONTRIBUTIONSET
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CSIP_OA_CONTRIBUTIONSET
    <set >
      <if test="record.pkContributionset != null" >
        PK_CONTRIBUTIONSET = #{record.pkContributionset,jdbcType=VARCHAR},
      </if>
      <if test="record.pkContribution != null" >
        PK_CONTRIBUTION = #{record.pkContribution,jdbcType=VARCHAR},
      </if>
      <if test="record.drawsn != null" >
        DRAWSN = #{record.drawsn,jdbcType=VARCHAR},
      </if>
      <if test="record.planid != null" >
        PLANID = #{record.planid,jdbcType=VARCHAR},
      </if>
      <if test="record.drawamount != null" >
        DRAWAMOUNT = #{record.drawamount,jdbcType=DECIMAL},
      </if>
      <if test="record.trusaccno != null" >
        TRUSACCNO = #{record.trusaccno,jdbcType=VARCHAR},
      </if>
      <if test="record.trusaccname != null" >
        TRUSACCNAME = #{record.trusaccname,jdbcType=VARCHAR},
      </if>
      <if test="record.ts != null" >
        TS = #{record.ts,jdbcType=TIMESTAMP},
      </if>
      <if test="record.workflowno != null" >
        WORKFLOWNO = #{record.workflowno,jdbcType=VARCHAR},
      </if>
      <if test="record.column1 != null" >
        COLUMN1 = #{record.column1,jdbcType=VARCHAR},
      </if>
      <if test="record.column2 != null" >
        COLUMN2 = #{record.column2,jdbcType=VARCHAR},
      </if>
      <if test="record.column3 != null" >
        COLUMN3 = #{record.column3,jdbcType=VARCHAR},
      </if>
      <if test="record.column4 != null" >
        COLUMN4 = #{record.column4,jdbcType=VARCHAR},
      </if>
      <if test="record.column5 != null" >
        COLUMN5 = #{record.column5,jdbcType=VARCHAR},
      </if>
      <if test="record.column6 != null" >
        COLUMN6 = #{record.column6,jdbcType=VARCHAR},
      </if>
      <if test="record.column7 != null" >
        COLUMN7 = #{record.column7,jdbcType=VARCHAR},
      </if>
      <if test="record.column8 != null" >
        COLUMN8 = #{record.column8,jdbcType=VARCHAR},
      </if>
      <if test="record.column9 != null" >
        COLUMN9 = #{record.column9,jdbcType=VARCHAR},
      </if>
      <if test="record.column10 != null" >
        COLUMN10 = #{record.column10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CSIP_OA_CONTRIBUTIONSET
    set PK_CONTRIBUTIONSET = #{record.pkContributionset,jdbcType=VARCHAR},
      PK_CONTRIBUTION = #{record.pkContribution,jdbcType=VARCHAR},
      DRAWSN = #{record.drawsn,jdbcType=VARCHAR},
      PLANID = #{record.planid,jdbcType=VARCHAR},
      DRAWAMOUNT = #{record.drawamount,jdbcType=DECIMAL},
      TRUSACCNO = #{record.trusaccno,jdbcType=VARCHAR},
      TRUSACCNAME = #{record.trusaccname,jdbcType=VARCHAR},
      TS = #{record.ts,jdbcType=TIMESTAMP},
      WORKFLOWNO = #{record.workflowno,jdbcType=VARCHAR},
      COLUMN1 = #{record.column1,jdbcType=VARCHAR},
      COLUMN2 = #{record.column2,jdbcType=VARCHAR},
      COLUMN3 = #{record.column3,jdbcType=VARCHAR},
      COLUMN4 = #{record.column4,jdbcType=VARCHAR},
      COLUMN5 = #{record.column5,jdbcType=VARCHAR},
      COLUMN6 = #{record.column6,jdbcType=VARCHAR},
      COLUMN7 = #{record.column7,jdbcType=VARCHAR},
      COLUMN8 = #{record.column8,jdbcType=VARCHAR},
      COLUMN9 = #{record.column9,jdbcType=VARCHAR},
      COLUMN10 = #{record.column10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>