<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dicp.oa.account.dao.mybatis.ManagerOAVOMapper" >
  <resultMap id="BaseResultMap" type="org.dicp.oa.account.model.entity.ManagerOAVO" >
    <id column="PK_MANAGER" property="pkManager" jdbcType="CHAR" />
    <result column="MANAGERCODE" property="managercode" jdbcType="VARCHAR" />
    <result column="MANAGERNAME" property="managername" jdbcType="VARCHAR" />
    <result column="INSTITUTIONORGID" property="institutionorgid" jdbcType="VARCHAR" />
    <result column="PK_PARENT" property="pkParent" jdbcType="CHAR" />
    <result column="PK_TOP" property="pkTop" jdbcType="CHAR" />
    <result column="LICENSETYPE" property="licensetype" jdbcType="VARCHAR" />
    <result column="CERTIFICATETYPE" property="certificatetype" jdbcType="VARCHAR" />
    <result column="CERTIFICATENUM" property="certificatenum" jdbcType="VARCHAR" />
    <result column="CIFID" property="cifid" jdbcType="VARCHAR" />
    <result column="STANDARDCODE" property="standardcode" jdbcType="VARCHAR" />
    <result column="MNGRTACTP" property="mngrtactp" jdbcType="VARCHAR" />
    <result column="MNGRACTPTEL" property="mngractptel" jdbcType="VARCHAR" />
    <result column="MNGRACTPFAX" property="mngractpfax" jdbcType="VARCHAR" />
    <result column="MNGRACTPADDR" property="mngractpaddr" jdbcType="VARCHAR" />
    <result column="MNGRACTPEMAIL" property="mngractpemail" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="TS" property="ts" jdbcType="TIMESTAMP" />
    <result column="SUBINSTPOSTCODE" property="subinstpostcode" jdbcType="VARCHAR" />
    <result column="SUBINSTID" property="subinstid" jdbcType="VARCHAR" />
    <result column="SOCIALCREDITCODE" property="socialcreditcode" jdbcType="VARCHAR" />
    <result column="SUBINSTADDR" property="subinstaddr" jdbcType="VARCHAR" />
    <result column="LASTUPDDATE" property="lastupddate" jdbcType="VARCHAR" />
    <result column="INSTITUTIONID" property="institutionid" jdbcType="VARCHAR" />
    <result column="INSTITUTIONNAME" property="institutionname" jdbcType="VARCHAR" />
    <result column="INSTITUTIONTYPE" property="institutiontype" jdbcType="VARCHAR" />
    <result column="PLANID" property="planid" jdbcType="VARCHAR" />
    <result column="PLANLICID" property="planlicid" jdbcType="VARCHAR" />
    <result column="PLANNAME" property="planname" jdbcType="VARCHAR" />
    <result column="WORKFLOWNO" property="workflowno" jdbcType="VARCHAR" />
    <result column="COLUMN1" property="column1" jdbcType="VARCHAR" />
    <result column="COLUMN2" property="column2" jdbcType="VARCHAR" />
    <result column="COLUMN3" property="column3" jdbcType="VARCHAR" />
    <result column="COLUMN4" property="column4" jdbcType="VARCHAR" />
    <result column="COLUMN5" property="column5" jdbcType="VARCHAR" />
    <result column="COLUMN6" property="column6" jdbcType="VARCHAR" />
    <result column="COLUMN7" property="column7" jdbcType="VARCHAR" />
    <result column="COLUMN8" property="column8" jdbcType="VARCHAR" />
    <result column="COLUMN9" property="column9" jdbcType="VARCHAR" />
    <result column="COLUMN10" property="column10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PK_MANAGER, MANAGERCODE, MANAGERNAME, INSTITUTIONORGID, PK_PARENT, PK_TOP, LICENSETYPE, 
    CERTIFICATETYPE, CERTIFICATENUM, CIFID, STANDARDCODE, MNGRTACTP, MNGRACTPTEL, MNGRACTPFAX, 
    MNGRACTPADDR, MNGRACTPEMAIL, MEMO, STATUS, TS, SUBINSTPOSTCODE, SUBINSTID, SOCIALCREDITCODE, 
    SUBINSTADDR, LASTUPDDATE, INSTITUTIONID, INSTITUTIONNAME, INSTITUTIONTYPE, PLANID, 
    PLANLICID, PLANNAME, WORKFLOWNO, COLUMN1, COLUMN2, COLUMN3, COLUMN4, COLUMN5, COLUMN6, 
    COLUMN7, COLUMN8, COLUMN9, COLUMN10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.dicp.oa.account.model.entity.ManagerOAVOCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CSIP_OA_MANAGER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CSIP_OA_MANAGER
    where PK_MANAGER = #{pkManager,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CSIP_OA_MANAGER
    where PK_MANAGER = #{pkManager,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.dicp.oa.account.model.entity.ManagerOAVOCriteria" >
    delete from CSIP_OA_MANAGER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.dicp.oa.account.model.entity.ManagerOAVO" >
    insert into CSIP_OA_MANAGER (PK_MANAGER, MANAGERCODE, MANAGERNAME, 
      INSTITUTIONORGID, PK_PARENT, PK_TOP, 
      LICENSETYPE, CERTIFICATETYPE, CERTIFICATENUM, 
      CIFID, STANDARDCODE, MNGRTACTP, 
      MNGRACTPTEL, MNGRACTPFAX, MNGRACTPADDR, 
      MNGRACTPEMAIL, MEMO, STATUS, 
      TS, SUBINSTPOSTCODE, SUBINSTID, 
      SOCIALCREDITCODE, SUBINSTADDR, LASTUPDDATE, 
      INSTITUTIONID, INSTITUTIONNAME, INSTITUTIONTYPE, 
      PLANID, PLANLICID, PLANNAME, 
      WORKFLOWNO, COLUMN1, COLUMN2, 
      COLUMN3, COLUMN4, COLUMN5, 
      COLUMN6, COLUMN7, COLUMN8, 
      COLUMN9, COLUMN10)
    values (#{pkManager,jdbcType=CHAR}, #{managercode,jdbcType=VARCHAR}, #{managername,jdbcType=VARCHAR}, 
      #{institutionorgid,jdbcType=VARCHAR}, #{pkParent,jdbcType=CHAR}, #{pkTop,jdbcType=CHAR}, 
      #{licensetype,jdbcType=VARCHAR}, #{certificatetype,jdbcType=VARCHAR}, #{certificatenum,jdbcType=VARCHAR}, 
      #{cifid,jdbcType=VARCHAR}, #{standardcode,jdbcType=VARCHAR}, #{mngrtactp,jdbcType=VARCHAR}, 
      #{mngractptel,jdbcType=VARCHAR}, #{mngractpfax,jdbcType=VARCHAR}, #{mngractpaddr,jdbcType=VARCHAR}, 
      #{mngractpemail,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{ts,jdbcType=TIMESTAMP}, #{subinstpostcode,jdbcType=VARCHAR}, #{subinstid,jdbcType=VARCHAR}, 
      #{socialcreditcode,jdbcType=VARCHAR}, #{subinstaddr,jdbcType=VARCHAR}, #{lastupddate,jdbcType=VARCHAR}, 
      #{institutionid,jdbcType=VARCHAR}, #{institutionname,jdbcType=VARCHAR}, #{institutiontype,jdbcType=VARCHAR}, 
      #{planid,jdbcType=VARCHAR}, #{planlicid,jdbcType=VARCHAR}, #{planname,jdbcType=VARCHAR}, 
      #{workflowno,jdbcType=VARCHAR}, #{column1,jdbcType=VARCHAR}, #{column2,jdbcType=VARCHAR}, 
      #{column3,jdbcType=VARCHAR}, #{column4,jdbcType=VARCHAR}, #{column5,jdbcType=VARCHAR}, 
      #{column6,jdbcType=VARCHAR}, #{column7,jdbcType=VARCHAR}, #{column8,jdbcType=VARCHAR}, 
      #{column9,jdbcType=VARCHAR}, #{column10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.dicp.oa.account.model.entity.ManagerOAVO" >
    insert into CSIP_OA_MANAGER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkManager != null" >
        PK_MANAGER,
      </if>
      <if test="managercode != null" >
        MANAGERCODE,
      </if>
      <if test="managername != null" >
        MANAGERNAME,
      </if>
      <if test="institutionorgid != null" >
        INSTITUTIONORGID,
      </if>
      <if test="pkParent != null" >
        PK_PARENT,
      </if>
      <if test="pkTop != null" >
        PK_TOP,
      </if>
      <if test="licensetype != null" >
        LICENSETYPE,
      </if>
      <if test="certificatetype != null" >
        CERTIFICATETYPE,
      </if>
      <if test="certificatenum != null" >
        CERTIFICATENUM,
      </if>
      <if test="cifid != null" >
        CIFID,
      </if>
      <if test="standardcode != null" >
        STANDARDCODE,
      </if>
      <if test="mngrtactp != null" >
        MNGRTACTP,
      </if>
      <if test="mngractptel != null" >
        MNGRACTPTEL,
      </if>
      <if test="mngractpfax != null" >
        MNGRACTPFAX,
      </if>
      <if test="mngractpaddr != null" >
        MNGRACTPADDR,
      </if>
      <if test="mngractpemail != null" >
        MNGRACTPEMAIL,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="ts != null" >
        TS,
      </if>
      <if test="subinstpostcode != null" >
        SUBINSTPOSTCODE,
      </if>
      <if test="subinstid != null" >
        SUBINSTID,
      </if>
      <if test="socialcreditcode != null" >
        SOCIALCREDITCODE,
      </if>
      <if test="subinstaddr != null" >
        SUBINSTADDR,
      </if>
      <if test="lastupddate != null" >
        LASTUPDDATE,
      </if>
      <if test="institutionid != null" >
        INSTITUTIONID,
      </if>
      <if test="institutionname != null" >
        INSTITUTIONNAME,
      </if>
      <if test="institutiontype != null" >
        INSTITUTIONTYPE,
      </if>
      <if test="planid != null" >
        PLANID,
      </if>
      <if test="planlicid != null" >
        PLANLICID,
      </if>
      <if test="planname != null" >
        PLANNAME,
      </if>
      <if test="workflowno != null" >
        WORKFLOWNO,
      </if>
      <if test="column1 != null" >
        COLUMN1,
      </if>
      <if test="column2 != null" >
        COLUMN2,
      </if>
      <if test="column3 != null" >
        COLUMN3,
      </if>
      <if test="column4 != null" >
        COLUMN4,
      </if>
      <if test="column5 != null" >
        COLUMN5,
      </if>
      <if test="column6 != null" >
        COLUMN6,
      </if>
      <if test="column7 != null" >
        COLUMN7,
      </if>
      <if test="column8 != null" >
        COLUMN8,
      </if>
      <if test="column9 != null" >
        COLUMN9,
      </if>
      <if test="column10 != null" >
        COLUMN10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkManager != null" >
        #{pkManager,jdbcType=CHAR},
      </if>
      <if test="managercode != null" >
        #{managercode,jdbcType=VARCHAR},
      </if>
      <if test="managername != null" >
        #{managername,jdbcType=VARCHAR},
      </if>
      <if test="institutionorgid != null" >
        #{institutionorgid,jdbcType=VARCHAR},
      </if>
      <if test="pkParent != null" >
        #{pkParent,jdbcType=CHAR},
      </if>
      <if test="pkTop != null" >
        #{pkTop,jdbcType=CHAR},
      </if>
      <if test="licensetype != null" >
        #{licensetype,jdbcType=VARCHAR},
      </if>
      <if test="certificatetype != null" >
        #{certificatetype,jdbcType=VARCHAR},
      </if>
      <if test="certificatenum != null" >
        #{certificatenum,jdbcType=VARCHAR},
      </if>
      <if test="cifid != null" >
        #{cifid,jdbcType=VARCHAR},
      </if>
      <if test="standardcode != null" >
        #{standardcode,jdbcType=VARCHAR},
      </if>
      <if test="mngrtactp != null" >
        #{mngrtactp,jdbcType=VARCHAR},
      </if>
      <if test="mngractptel != null" >
        #{mngractptel,jdbcType=VARCHAR},
      </if>
      <if test="mngractpfax != null" >
        #{mngractpfax,jdbcType=VARCHAR},
      </if>
      <if test="mngractpaddr != null" >
        #{mngractpaddr,jdbcType=VARCHAR},
      </if>
      <if test="mngractpemail != null" >
        #{mngractpemail,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="subinstpostcode != null" >
        #{subinstpostcode,jdbcType=VARCHAR},
      </if>
      <if test="subinstid != null" >
        #{subinstid,jdbcType=VARCHAR},
      </if>
      <if test="socialcreditcode != null" >
        #{socialcreditcode,jdbcType=VARCHAR},
      </if>
      <if test="subinstaddr != null" >
        #{subinstaddr,jdbcType=VARCHAR},
      </if>
      <if test="lastupddate != null" >
        #{lastupddate,jdbcType=VARCHAR},
      </if>
      <if test="institutionid != null" >
        #{institutionid,jdbcType=VARCHAR},
      </if>
      <if test="institutionname != null" >
        #{institutionname,jdbcType=VARCHAR},
      </if>
      <if test="institutiontype != null" >
        #{institutiontype,jdbcType=VARCHAR},
      </if>
      <if test="planid != null" >
        #{planid,jdbcType=VARCHAR},
      </if>
      <if test="planlicid != null" >
        #{planlicid,jdbcType=VARCHAR},
      </if>
      <if test="planname != null" >
        #{planname,jdbcType=VARCHAR},
      </if>
      <if test="workflowno != null" >
        #{workflowno,jdbcType=VARCHAR},
      </if>
      <if test="column1 != null" >
        #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        #{column4,jdbcType=VARCHAR},
      </if>
      <if test="column5 != null" >
        #{column5,jdbcType=VARCHAR},
      </if>
      <if test="column6 != null" >
        #{column6,jdbcType=VARCHAR},
      </if>
      <if test="column7 != null" >
        #{column7,jdbcType=VARCHAR},
      </if>
      <if test="column8 != null" >
        #{column8,jdbcType=VARCHAR},
      </if>
      <if test="column9 != null" >
        #{column9,jdbcType=VARCHAR},
      </if>
      <if test="column10 != null" >
        #{column10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.dicp.oa.account.model.entity.ManagerOAVOCriteria" resultType="java.lang.Integer" >
    select count(*) from CSIP_OA_MANAGER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CSIP_OA_MANAGER
    <set >
      <if test="record.pkManager != null" >
        PK_MANAGER = #{record.pkManager,jdbcType=CHAR},
      </if>
      <if test="record.managercode != null" >
        MANAGERCODE = #{record.managercode,jdbcType=VARCHAR},
      </if>
      <if test="record.managername != null" >
        MANAGERNAME = #{record.managername,jdbcType=VARCHAR},
      </if>
      <if test="record.institutionorgid != null" >
        INSTITUTIONORGID = #{record.institutionorgid,jdbcType=VARCHAR},
      </if>
      <if test="record.pkParent != null" >
        PK_PARENT = #{record.pkParent,jdbcType=CHAR},
      </if>
      <if test="record.pkTop != null" >
        PK_TOP = #{record.pkTop,jdbcType=CHAR},
      </if>
      <if test="record.licensetype != null" >
        LICENSETYPE = #{record.licensetype,jdbcType=VARCHAR},
      </if>
      <if test="record.certificatetype != null" >
        CERTIFICATETYPE = #{record.certificatetype,jdbcType=VARCHAR},
      </if>
      <if test="record.certificatenum != null" >
        CERTIFICATENUM = #{record.certificatenum,jdbcType=VARCHAR},
      </if>
      <if test="record.cifid != null" >
        CIFID = #{record.cifid,jdbcType=VARCHAR},
      </if>
      <if test="record.standardcode != null" >
        STANDARDCODE = #{record.standardcode,jdbcType=VARCHAR},
      </if>
      <if test="record.mngrtactp != null" >
        MNGRTACTP = #{record.mngrtactp,jdbcType=VARCHAR},
      </if>
      <if test="record.mngractptel != null" >
        MNGRACTPTEL = #{record.mngractptel,jdbcType=VARCHAR},
      </if>
      <if test="record.mngractpfax != null" >
        MNGRACTPFAX = #{record.mngractpfax,jdbcType=VARCHAR},
      </if>
      <if test="record.mngractpaddr != null" >
        MNGRACTPADDR = #{record.mngractpaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.mngractpemail != null" >
        MNGRACTPEMAIL = #{record.mngractpemail,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.ts != null" >
        TS = #{record.ts,jdbcType=TIMESTAMP},
      </if>
      <if test="record.subinstpostcode != null" >
        SUBINSTPOSTCODE = #{record.subinstpostcode,jdbcType=VARCHAR},
      </if>
      <if test="record.subinstid != null" >
        SUBINSTID = #{record.subinstid,jdbcType=VARCHAR},
      </if>
      <if test="record.socialcreditcode != null" >
        SOCIALCREDITCODE = #{record.socialcreditcode,jdbcType=VARCHAR},
      </if>
      <if test="record.subinstaddr != null" >
        SUBINSTADDR = #{record.subinstaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.lastupddate != null" >
        LASTUPDDATE = #{record.lastupddate,jdbcType=VARCHAR},
      </if>
      <if test="record.institutionid != null" >
        INSTITUTIONID = #{record.institutionid,jdbcType=VARCHAR},
      </if>
      <if test="record.institutionname != null" >
        INSTITUTIONNAME = #{record.institutionname,jdbcType=VARCHAR},
      </if>
      <if test="record.institutiontype != null" >
        INSTITUTIONTYPE = #{record.institutiontype,jdbcType=VARCHAR},
      </if>
      <if test="record.planid != null" >
        PLANID = #{record.planid,jdbcType=VARCHAR},
      </if>
      <if test="record.planlicid != null" >
        PLANLICID = #{record.planlicid,jdbcType=VARCHAR},
      </if>
      <if test="record.planname != null" >
        PLANNAME = #{record.planname,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowno != null" >
        WORKFLOWNO = #{record.workflowno,jdbcType=VARCHAR},
      </if>
      <if test="record.column1 != null" >
        COLUMN1 = #{record.column1,jdbcType=VARCHAR},
      </if>
      <if test="record.column2 != null" >
        COLUMN2 = #{record.column2,jdbcType=VARCHAR},
      </if>
      <if test="record.column3 != null" >
        COLUMN3 = #{record.column3,jdbcType=VARCHAR},
      </if>
      <if test="record.column4 != null" >
        COLUMN4 = #{record.column4,jdbcType=VARCHAR},
      </if>
      <if test="record.column5 != null" >
        COLUMN5 = #{record.column5,jdbcType=VARCHAR},
      </if>
      <if test="record.column6 != null" >
        COLUMN6 = #{record.column6,jdbcType=VARCHAR},
      </if>
      <if test="record.column7 != null" >
        COLUMN7 = #{record.column7,jdbcType=VARCHAR},
      </if>
      <if test="record.column8 != null" >
        COLUMN8 = #{record.column8,jdbcType=VARCHAR},
      </if>
      <if test="record.column9 != null" >
        COLUMN9 = #{record.column9,jdbcType=VARCHAR},
      </if>
      <if test="record.column10 != null" >
        COLUMN10 = #{record.column10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CSIP_OA_MANAGER
    set PK_MANAGER = #{record.pkManager,jdbcType=CHAR},
      MANAGERCODE = #{record.managercode,jdbcType=VARCHAR},
      MANAGERNAME = #{record.managername,jdbcType=VARCHAR},
      INSTITUTIONORGID = #{record.institutionorgid,jdbcType=VARCHAR},
      PK_PARENT = #{record.pkParent,jdbcType=CHAR},
      PK_TOP = #{record.pkTop,jdbcType=CHAR},
      LICENSETYPE = #{record.licensetype,jdbcType=VARCHAR},
      CERTIFICATETYPE = #{record.certificatetype,jdbcType=VARCHAR},
      CERTIFICATENUM = #{record.certificatenum,jdbcType=VARCHAR},
      CIFID = #{record.cifid,jdbcType=VARCHAR},
      STANDARDCODE = #{record.standardcode,jdbcType=VARCHAR},
      MNGRTACTP = #{record.mngrtactp,jdbcType=VARCHAR},
      MNGRACTPTEL = #{record.mngractptel,jdbcType=VARCHAR},
      MNGRACTPFAX = #{record.mngractpfax,jdbcType=VARCHAR},
      MNGRACTPADDR = #{record.mngractpaddr,jdbcType=VARCHAR},
      MNGRACTPEMAIL = #{record.mngractpemail,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=CHAR},
      TS = #{record.ts,jdbcType=TIMESTAMP},
      SUBINSTPOSTCODE = #{record.subinstpostcode,jdbcType=VARCHAR},
      SUBINSTID = #{record.subinstid,jdbcType=VARCHAR},
      SOCIALCREDITCODE = #{record.socialcreditcode,jdbcType=VARCHAR},
      SUBINSTADDR = #{record.subinstaddr,jdbcType=VARCHAR},
      LASTUPDDATE = #{record.lastupddate,jdbcType=VARCHAR},
      INSTITUTIONID = #{record.institutionid,jdbcType=VARCHAR},
      INSTITUTIONNAME = #{record.institutionname,jdbcType=VARCHAR},
      INSTITUTIONTYPE = #{record.institutiontype,jdbcType=VARCHAR},
      PLANID = #{record.planid,jdbcType=VARCHAR},
      PLANLICID = #{record.planlicid,jdbcType=VARCHAR},
      PLANNAME = #{record.planname,jdbcType=VARCHAR},
      WORKFLOWNO = #{record.workflowno,jdbcType=VARCHAR},
      COLUMN1 = #{record.column1,jdbcType=VARCHAR},
      COLUMN2 = #{record.column2,jdbcType=VARCHAR},
      COLUMN3 = #{record.column3,jdbcType=VARCHAR},
      COLUMN4 = #{record.column4,jdbcType=VARCHAR},
      COLUMN5 = #{record.column5,jdbcType=VARCHAR},
      COLUMN6 = #{record.column6,jdbcType=VARCHAR},
      COLUMN7 = #{record.column7,jdbcType=VARCHAR},
      COLUMN8 = #{record.column8,jdbcType=VARCHAR},
      COLUMN9 = #{record.column9,jdbcType=VARCHAR},
      COLUMN10 = #{record.column10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.dicp.oa.account.model.entity.ManagerOAVO" >
    update CSIP_OA_MANAGER
    <set >
      <if test="managercode != null" >
        MANAGERCODE = #{managercode,jdbcType=VARCHAR},
      </if>
      <if test="managername != null" >
        MANAGERNAME = #{managername,jdbcType=VARCHAR},
      </if>
      <if test="institutionorgid != null" >
        INSTITUTIONORGID = #{institutionorgid,jdbcType=VARCHAR},
      </if>
      <if test="pkParent != null" >
        PK_PARENT = #{pkParent,jdbcType=CHAR},
      </if>
      <if test="pkTop != null" >
        PK_TOP = #{pkTop,jdbcType=CHAR},
      </if>
      <if test="licensetype != null" >
        LICENSETYPE = #{licensetype,jdbcType=VARCHAR},
      </if>
      <if test="certificatetype != null" >
        CERTIFICATETYPE = #{certificatetype,jdbcType=VARCHAR},
      </if>
      <if test="certificatenum != null" >
        CERTIFICATENUM = #{certificatenum,jdbcType=VARCHAR},
      </if>
      <if test="cifid != null" >
        CIFID = #{cifid,jdbcType=VARCHAR},
      </if>
      <if test="standardcode != null" >
        STANDARDCODE = #{standardcode,jdbcType=VARCHAR},
      </if>
      <if test="mngrtactp != null" >
        MNGRTACTP = #{mngrtactp,jdbcType=VARCHAR},
      </if>
      <if test="mngractptel != null" >
        MNGRACTPTEL = #{mngractptel,jdbcType=VARCHAR},
      </if>
      <if test="mngractpfax != null" >
        MNGRACTPFAX = #{mngractpfax,jdbcType=VARCHAR},
      </if>
      <if test="mngractpaddr != null" >
        MNGRACTPADDR = #{mngractpaddr,jdbcType=VARCHAR},
      </if>
      <if test="mngractpemail != null" >
        MNGRACTPEMAIL = #{mngractpemail,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="ts != null" >
        TS = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="subinstpostcode != null" >
        SUBINSTPOSTCODE = #{subinstpostcode,jdbcType=VARCHAR},
      </if>
      <if test="subinstid != null" >
        SUBINSTID = #{subinstid,jdbcType=VARCHAR},
      </if>
      <if test="socialcreditcode != null" >
        SOCIALCREDITCODE = #{socialcreditcode,jdbcType=VARCHAR},
      </if>
      <if test="subinstaddr != null" >
        SUBINSTADDR = #{subinstaddr,jdbcType=VARCHAR},
      </if>
      <if test="lastupddate != null" >
        LASTUPDDATE = #{lastupddate,jdbcType=VARCHAR},
      </if>
      <if test="institutionid != null" >
        INSTITUTIONID = #{institutionid,jdbcType=VARCHAR},
      </if>
      <if test="institutionname != null" >
        INSTITUTIONNAME = #{institutionname,jdbcType=VARCHAR},
      </if>
      <if test="institutiontype != null" >
        INSTITUTIONTYPE = #{institutiontype,jdbcType=VARCHAR},
      </if>
      <if test="planid != null" >
        PLANID = #{planid,jdbcType=VARCHAR},
      </if>
      <if test="planlicid != null" >
        PLANLICID = #{planlicid,jdbcType=VARCHAR},
      </if>
      <if test="planname != null" >
        PLANNAME = #{planname,jdbcType=VARCHAR},
      </if>
      <if test="workflowno != null" >
        WORKFLOWNO = #{workflowno,jdbcType=VARCHAR},
      </if>
      <if test="column1 != null" >
        COLUMN1 = #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        COLUMN2 = #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        COLUMN3 = #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        COLUMN4 = #{column4,jdbcType=VARCHAR},
      </if>
      <if test="column5 != null" >
        COLUMN5 = #{column5,jdbcType=VARCHAR},
      </if>
      <if test="column6 != null" >
        COLUMN6 = #{column6,jdbcType=VARCHAR},
      </if>
      <if test="column7 != null" >
        COLUMN7 = #{column7,jdbcType=VARCHAR},
      </if>
      <if test="column8 != null" >
        COLUMN8 = #{column8,jdbcType=VARCHAR},
      </if>
      <if test="column9 != null" >
        COLUMN9 = #{column9,jdbcType=VARCHAR},
      </if>
      <if test="column10 != null" >
        COLUMN10 = #{column10,jdbcType=VARCHAR},
      </if>
    </set>
    where PK_MANAGER = #{pkManager,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.dicp.oa.account.model.entity.ManagerOAVO" >
    update CSIP_OA_MANAGER
    set MANAGERCODE = #{managercode,jdbcType=VARCHAR},
      MANAGERNAME = #{managername,jdbcType=VARCHAR},
      INSTITUTIONORGID = #{institutionorgid,jdbcType=VARCHAR},
      PK_PARENT = #{pkParent,jdbcType=CHAR},
      PK_TOP = #{pkTop,jdbcType=CHAR},
      LICENSETYPE = #{licensetype,jdbcType=VARCHAR},
      CERTIFICATETYPE = #{certificatetype,jdbcType=VARCHAR},
      CERTIFICATENUM = #{certificatenum,jdbcType=VARCHAR},
      CIFID = #{cifid,jdbcType=VARCHAR},
      STANDARDCODE = #{standardcode,jdbcType=VARCHAR},
      MNGRTACTP = #{mngrtactp,jdbcType=VARCHAR},
      MNGRACTPTEL = #{mngractptel,jdbcType=VARCHAR},
      MNGRACTPFAX = #{mngractpfax,jdbcType=VARCHAR},
      MNGRACTPADDR = #{mngractpaddr,jdbcType=VARCHAR},
      MNGRACTPEMAIL = #{mngractpemail,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      TS = #{ts,jdbcType=TIMESTAMP},
      SUBINSTPOSTCODE = #{subinstpostcode,jdbcType=VARCHAR},
      SUBINSTID = #{subinstid,jdbcType=VARCHAR},
      SOCIALCREDITCODE = #{socialcreditcode,jdbcType=VARCHAR},
      SUBINSTADDR = #{subinstaddr,jdbcType=VARCHAR},
      LASTUPDDATE = #{lastupddate,jdbcType=VARCHAR},
      INSTITUTIONID = #{institutionid,jdbcType=VARCHAR},
      INSTITUTIONNAME = #{institutionname,jdbcType=VARCHAR},
      INSTITUTIONTYPE = #{institutiontype,jdbcType=VARCHAR},
      PLANID = #{planid,jdbcType=VARCHAR},
      PLANLICID = #{planlicid,jdbcType=VARCHAR},
      PLANNAME = #{planname,jdbcType=VARCHAR},
      WORKFLOWNO = #{workflowno,jdbcType=VARCHAR},
      COLUMN1 = #{column1,jdbcType=VARCHAR},
      COLUMN2 = #{column2,jdbcType=VARCHAR},
      COLUMN3 = #{column3,jdbcType=VARCHAR},
      COLUMN4 = #{column4,jdbcType=VARCHAR},
      COLUMN5 = #{column5,jdbcType=VARCHAR},
      COLUMN6 = #{column6,jdbcType=VARCHAR},
      COLUMN7 = #{column7,jdbcType=VARCHAR},
      COLUMN8 = #{column8,jdbcType=VARCHAR},
      COLUMN9 = #{column9,jdbcType=VARCHAR},
      COLUMN10 = #{column10,jdbcType=VARCHAR}
    where PK_MANAGER = #{pkManager,jdbcType=CHAR}
  </update>
</mapper>